body {
    background-image: url("../img/FrontPage.jpg");
    color: white;
}

#logo {
    position: relative;
    margin-left: 200px;
    /* color: blue; */
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
    /* color: white; */
}

.navbar-default .navbar-nav > li > a {
    color: white;
}